/** @Luiska change's **/

/**
Main color: #3B574B
Variants: #3B574B, #5E7D6A, #819F89, #A4C1A8.

Main color lighter: #4F7363
Variants: #4F7363, #345051, #1B2E2F, #001314.
**/

:root {
    --main-color: #3B574B;
    --main-color-lighter: #4F7363;
    --main-color-darker: #334b41;
}

/** Custom Colors change's **/

a {
    color: var(--main-color) ;
}

a:hover {
    color: var(--main-color-lighter) ;
}

.text-primary {
    color: var(--main-color-lighter) !important;
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color-lighter);
}
.form-check-input:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0.25rem 0.05rem var(--main-color-lighter);
}

.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: #5E7D6A;
    background-color: rgba(59, 87, 75, 0.15) !important;
}

.bg-menu-theme .menu-inner > .menu-item.active:before {
   border-color: #5E7D6A;
    background-color: rgba(59, 87, 75, 0.15) !important;
}

/* Btn */

.btn-primary{
    background: var(--main-color);
    border-color: var(--main-color) ;
    box-shadow: 0 0.125rem 0.25rem 0 var(--main-color);
}

.btn-primary:hover{
    background: var(--main-color-lighter);
    border-color: var(--main-color-lighter) ;

}

.btn-primary.active{
    background: var(--main-color-lighter);
    border-color: var(--main-color-lighter) ;
    box-shadow: 0 0.125rem 0.25rem 0 var(--main-color-lighter);
}

.btn-primary.active:hover{
    background: var(--main-color);
    border-color: var(--main-color) ;

}

.btn-primary.disabled, .btn-primary:disabled {
    background: var(--main-color);
    border-color: var(--main-color) ;
    box-shadow: 0 0.125rem 0.25rem 0 var(--main-color);
    opacity: 0.65;
}

/* Table */

#table_wrapper {
    padding: 22px;
}

.table th {
    text-transform: none;
    font-size: 0.90rem;
    letter-spacing: 1px;
}

/* Side Menu */

.page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus, .pagination li.active > a:not(.page-link), .pagination li.active > a:not(.page-link):hover, .pagination li.active > a:not(.page-link):focus {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem var(--main-color);
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0 2px 4px 0 var(--main-color);
}


.bg-menu-theme .menu-item.open:not(.menu-item-closing) > .menu-toggle, .bg-menu-theme .menu-item.active > .menu-link {
    color: var(--main-color-lighter);
}
.bg-menu-theme .menu-sub > .menu-item.active > .menu-link:not(.menu-toggle)::before {
    background-color: var(--main-color-lighter) !important;

}

/* Form Controller */

.form-control:focus {
    border-color: var(--main-color) !important;
}

.form-select:focus {
    border-color: var(--main-color) !important;
}

/* flatpickr */

.flatpickr-input[readonly] {
    cursor: pointer;
    background-color: #fff;
}

.flatpickr-calendar{
    font-family: var(--bs-body-font-family);
    font-size: 14px !important;
}
/**
ESTO DA ERROR, REVISAR LUEGO.

.flatpickr-months .flatpickr-month {
    background: transparent;
    color: var(--kt-gray-600);
    fill: var(--kt-gray-600);
    height: 46px;
}
**/

/* Select2 */

.select2-container .select2-selection--single {
    height: 38px;
    border: 1px solid #d9dee3;
    display: block;
    width: 100%;
    font-size: 0.9375rem;
    font-weight: 400;
    color: #697a8d;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--main-color);
}

/* DataTables */

.custom-select {
    padding-right: 17px;
}

/* Custom Environment */

.environment-success {
    color: green;
}

.environment-warning {
    color: yellow;
}

.environment-danger {
    color: red;
}

